/* Color Palette */
body {
    background-color: #505C86; /* Dark background with a hint of navy */
    color: #c9d1d9; /* Light gray text */
    font-family: 'Arial', sans-serif;
}

html {
    background-color: #505C86;
}

.text-blue {
    color: darkblue; /* Rich Blue */
}

.text-white {
    color: black; /* Soft White */
}

.text-orange {
    color: #f78166; /* Vibrant Orange */
}

.btn-orange {
    background-color: #f78166; /* Vibrant Orange */
    border: none;
    color: #0d1117;
}

.btn-orange:hover {
    background-color: #ff9b6b;
}

.bg-input-dark {
    background-color: #0d1117; /* Darker background for input fields */
    border: 1px solid #30363d;
    color: #c9d1d9;
}

.bg-input-dark::file-selector-button {
    background-color: white;
    color: #c9d1d9;
}

.image-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 500px;
    max-height: 500px;
    border: 3px solid #58a6ff; /* Blue border */
    border-radius: 10px;
}

.image-container p {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #f78166; /* Vibrant Orange */
}

.description-container {
    margin-top: 40px;
}

.description-heading {
    font-size: 2.8rem;
    font-weight: 600;
    color: #1e90ff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.time-heading {
    font-size: 1rem;
    font-weight: 600;
    color: #1e90ff;
}

.description-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #f0e68c;
    background-color: #2e2e2e;
    padding: 15px;
    border-radius: 10px;
    line-height: 1.6;
    text-align: justify;
    margin-top: 20px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
}

.spaced-button {
    margin-bottom: 30px; /* Adjust the space below the button */
}

.boton-no-funcional {
    background-color: red; /* Color azul */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    font-family: Arial, sans-serif; /* Fuente */
    font-size: 16px; /* Tamaño de fuente */
    cursor: not-allowed; /* Indicador de que no es clickeable */
    width: 310px; /* Ancho del "botón" */
    user-select: none; /* Evita que se seleccione el texto */
}

.boton-no-funcional2 {
    background-color: red; /* Color azul */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    font-family: Arial, sans-serif; /* Fuente */
    font-size: 16px; /* Tamaño de fuente */
    cursor: not-allowed; /* Indicador de que no es clickeable */
    width: 150px; /* Ancho del "botón" */
    user-select: none; /* Evita que se seleccione el texto */
}

.boton-no-funcional3 {
    background-color: green; /* Color azul */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    font-family: Arial, sans-serif; /* Fuente */
    font-size: 16px; /* Tamaño de fuente */
    cursor: not-allowed; /* Indicador de que no es clickeable */
    width: 150px; /* Ancho del "botón" */
    user-select: none; /* Evita que se seleccione el texto */
}
  
.boton-no-funcional:hover {
    background-color: crimson; /* Cambio de color al pasar el mouse */
}

.boton-no-funcional2:hover {
    background-color: crimson; /* Cambio de color al pasar el mouse */
}

.boton-no-funcional3:hover {
    background-color: chartreuse; /* Cambio de color al pasar el mouse */
}

.centered-button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100%;            /* Asegura que ocupe todo el espacio disponible */
}



